%a{ :href => "https://github.com/adamvduke/phillytechcalendar", :target => "_blank" }
  %img{ :style => "position: absolute; top: 0; right: 0; border: 0;", :src => "https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png", :alt => "Fork me on GitHub" }
.about
  .nav 
    %a{:href => "#why"}="Why Philly Tech Calendar?"
    %br
    %a{:href => "#add"}="How can I add my group's calendar?"
    %br
    %a{:href => "#remove"}="How can I remove my group's calendar?"

  %a{:name => "why"}
  %h2="Why Philly Tech Calendar?"
  The benefits of Philly Tech Calendar are two fold.
  %ul
    %li="As an organizer of a technology meetup, you can confidently schedule your events to minimize conflicts with the other local groups."
    %li="As an attendee of local meetups, you can easily plan to attend the events which interest you most."

  %a{:name => "add"}
  %h2="How can I add my group's calendar?"
  Send an email to add[at]phillytechcalendar.com containing the calendar ID of your group's publicly available google calendar. Your group's calendar should aggregate to the Philly Tech Calendar within a day or so. 

  %a{:name => "remove"}
  %h2="How can I remove my group's calendar?"
  Send an email to remove[at]phillytechcalendar.com containing the calendar ID of your group's publicly available google calendar. Your group's calendar should be removed from the Philly Tech Calendar within a day or so.
