.calendar
  %iframe{ :src => @src,
           :style => @style,
           :width => @width,
           :height => @height,
           :frameborder => @frame_border,
           :scrolling => @scrolling }

