!!!
%html
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html charset=utf-8' }
    %meta{ :name => 'description', :content => 'Philly Tech Calendar'}
    %meta{ :name => 'keywords', :content => 'Philly Tech, Philadelphia Tech, Calendar'}
    %link{ :rel => 'stylesheet', :href => '/css/style.css', :type => 'text/css', :charset => 'utf-8' }
    %link{ :rel => 'shortcut icon', :href => 'https://calendar.google.com/googlecalendar/images/favicon_v2010.ico' }
    %title Philly Tech Calendar
    %script{ :src => '/js/analytics.js', :type => 'text/javascript' }
  %body
    = yield
