a {
  font-family: 'Muli', arial, serif;
  color: #9A9A9A;
  text-decoration: none;
}
body {
  width: 100%;
  background-color: #333;
  font-family: 'Muli', arial, serif;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  text-decoration: none;
  text-transform: none;
  letter-spacing: 0em;
  word-spacing: 0em;
  line-height: 1.2;
  color: #6A6A6A;
  margin: 0px;
}
header {
  background: #212121;
  padding-top: 25px;
  padding-left: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid #434343;
  font-weight: bold;
  font-size: 24px;
  text-shadow: 2px 2px 2px #222;
  overflow: hidden;
}
.about {
  margin-left: 15px;
  margin-top: 15px;
}
.about h1 {
  color: #777;
}
.calendar {
  width: 1000px;
  margin-top: 15px;
  margin-right: auto;
  margin-left: 15px;
  float: left;
  display: inline;
  position: absolute;
}
.calendar-control {
  width: 175px;
  border-bottom: 1px solid black;
}
.calendar-control .toggle {
  display: inline;
}
.calendar-control .subscribe {
  display: inline;
  float: right;
}

.shared-calendars {
  float: left;
  display: inline;
  font-size: 12px;
  margin-right: 5px;
  margin-top: 15px;
  margin-left: 15px;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight  {border: 1px solid #555555; background: #000000 url(images/ui-bg_loop_25_000000_21x21.png) 50% 50% repeat; color: #ffffff; }
