a {
  font-family: 'Muli', arial, serif;
  color: #9A9A9A;
  text-decoration: none;
  font-size: 16px;
}
body {
  width: 100%;
  background-color: #333;
  font-family: 'Muli', arial, serif;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  text-decoration: none;
  text-transform: none;
  letter-spacing: 0em;
  word-spacing: 0em;
  line-height: 1.2;
  color: #6A6A6A;
  margin: 0px;
}
header {
  background: #212121;
  padding-top: 25px;
  padding-left: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid #434343;
  font-weight: bold;
  font-size: 24px;
  text-shadow: 2px 2px 2px #222;
  overflow: hidden;
}
.about {
  margin-left: 15px;
  margin-top: 15px;
}
.about h1 {
  color: #777;
}
.calendar {
  width: 800px;
  height: 600px;
  margin-top: 15px;
  border: 1px solid #999;
  margin-right: auto;
  margin-left: auto;
  float: left;
  display: inline;
  position: fixed;
}
.shared-calendars {
  float: left;
  display: inline;
  font-size: 12px;
  margin-right: 5px;
  margin-top: 15px;
  margin-left: 15px;
}

